mixin breadcrumbs(param)
	section.breadcrumbs
		.content-wrapper
			.breadcrumbs__wrapper
				each item,index in param.path
					if item.href && item.href!=''
						//-a.breadcrumbs__item(href=""+item.href)!= item.title
						span.breadcrumbs__item(itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
							a(href=""+item.href itemprop="item")
								span(itemprop="name")!= item.title
								meta(itemprop="position" content=""+index)

					else
						//-span.breadcrumbs__item!= item.title
						span.breadcrumbs__item(itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
							span(itemprop="name")!= item.title
							meta(itemprop="position" content=""+index)

//----button							
mixin button(param)
	button(class='btn btn--' + param.class)=param.text
		if param.svg
			+svg({type: param.svg})



//----список svg
mixin svg(param)
	if param.type == 'phone'
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M7.91912 3.54768C7.66602 2.91492 7.05317 2.5 6.37166 2.5H4.07895C3.20692 2.5 2.5 3.20695 2.5 4.07898C2.5 11.4912 8.50898 17.5 15.9212 17.5C16.7933 17.5 17.5 16.7931 17.5 15.9211L17.4999 13.6284C17.4999 12.9468 17.0849 12.3341 16.4522 12.0809L14.2559 11.2024C13.6876 10.975 13.0404 11.0775 12.5702 11.4694L12.0026 11.9423C11.3404 12.4941 10.3666 12.45 9.75712 11.8405L8.15947 10.2429C7.54994 9.63339 7.50602 8.65961 8.05786 7.9974L8.53068 7.42998C8.92258 6.95969 9.02502 6.31244 8.79766 5.74405L7.91912 3.54768Z" fill="white" stroke="#502C7D" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	else if param.type == 'email'
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.5 13.1667V6.83337V6.83064C17.5 5.89904 17.5 5.43295 17.3185 5.07678C17.1587 4.76318 16.9034 4.50819 16.5898 4.3484C16.2333 4.16675 15.7669 4.16675 14.8335 4.16675H5.16683C4.23341 4.16675 3.76635 4.16675 3.40983 4.3484C3.09623 4.50819 2.84144 4.76318 2.68166 5.07678C2.5 5.4333 2.5 5.89995 2.5 6.83337V13.1667C2.5 14.1001 2.5 14.5669 2.68166 14.9234C2.84144 15.237 3.09623 15.4919 3.40983 15.6517C3.76635 15.8334 4.23341 15.8334 5.16683 15.8334H14.8335C15.7669 15.8334 16.2333 15.8334 16.5898 15.6517C16.9034 15.4919 17.1587 15.237 17.3185 14.9234C17.5 14.5673 17.5 14.101 17.5 13.1694V13.1667Z" fill="white"/>
			<path d="M3.33333 5.00008L10.1905 10.0001L16.6666 5.00008M17.5 6.83337V13.1667C17.5 14.1001 17.5002 14.5669 17.3185 14.9234C17.1587 15.237 16.9034 15.4919 16.5898 15.6517C16.2333 15.8334 15.7669 15.8334 14.8335 15.8334H5.16683C4.23341 15.8334 3.76635 15.8334 3.40983 15.6517C3.09623 15.4919 2.84144 15.237 2.68166 14.9234C2.5 14.5669 2.5 14.1001 2.5 13.1667V6.83337C2.5 5.89995 2.5 5.4333 2.68166 5.07678C2.84144 4.76318 3.09623 4.50819 3.40983 4.3484C3.76635 4.16675 4.23341 4.16675 5.16683 4.16675H14.8335C15.7669 4.16675 16.2333 4.16675 16.5898 4.3484C16.9034 4.50819 17.1587 4.76318 17.3185 5.07678C17.5002 5.4333 17.5 5.89995 17.5 6.83337Z" stroke="#502C7D" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	else if param.type == 'telegram'
		<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16.9516 1.4563L14.3861 15.0342C14.1924 15.9923 13.6878 16.2308 12.9707 15.7797L9.0615 12.5469L7.17551 14.5831C6.96663 14.8175 6.79237 15.0131 6.38979 15.0131L6.67092 10.5455L13.9155 3.19877C14.2307 2.88394 13.8469 2.70881 13.4261 3.02432L4.4698 9.35363L0.614031 7.99891C-0.224523 7.7052 -0.239703 7.05783 0.788907 6.60602L15.8701 0.0852222C16.5684 -0.208483 17.1793 0.258992 16.9516 1.4563Z" fill="white"/>
		</svg>
	else if param.type == 'lens'
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M13.5607 11.4393C12.9749 10.8536 12.0251 10.8536 11.4393 11.4393C10.8536 12.0251 10.8536 12.9749 11.4393 13.5607L13.5607 11.4393ZM16.4393 18.5607C17.0251 19.1464 17.9749 19.1464 18.5607 18.5607C19.1464 17.9749 19.1464 17.0251 18.5607 16.4393L16.4393 18.5607ZM8.33333 12.6667C5.9401 12.6667 4 10.7266 4 8.33333H1C1 12.3834 4.28325 15.6667 8.33333 15.6667V12.6667ZM4 8.33333C4 5.9401 5.9401 4 8.33333 4V1C4.28325 1 1 4.28325 1 8.33333H4ZM8.33333 4C10.7266 4 12.6667 5.9401 12.6667 8.33333H15.6667C15.6667 4.28325 12.3834 1 8.33333 1V4ZM12.6667 8.33333C12.6667 10.7266 10.7266 12.6667 8.33333 12.6667V15.6667C12.3834 15.6667 15.6667 12.3834 15.6667 8.33333H12.6667ZM11.4393 13.5607L16.4393 18.5607L18.5607 16.4393L13.5607 11.4393L11.4393 13.5607Z" fill="white"/>
		</svg>
	else if param.type == 'arrow'
		<svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 6H19M19 6L14 1M19 6L14 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>


//----inputs
mixin formField(param)
	if param.type == 'input'
		.form-field(class="form-field--" + param.mode)
			.form-field__wrapper(class="" + (param.locked?'is-locked':''))
				input.form-field__input(type="text" placeholder="" + param.placeholder value="" + (param.value?param.value:''))
			if param.error
				.form-field__error!= param.error
	else if param.type == 'password'
		.form-field(class="form-field--" + param.mode)
			.form-field__wrapper
				input.form-field__input(type="password" placeholder="" + param.placeholder value="")
	else if param.type == 'datepicker'
		.form-field(class="form-field--" + param.type)
			.form-field__wrapper
				input.form-field__input(type="text" class="js-datepicker" placeholder="" + param.placeholder value="" data-icon="/f/img/icon-date.svg")
	else if param.type == 'datepicker-order'
		.form-field(class="form-field--" + param.type)
			.form-field__wrapper
				input.form-field__input(type="text" class="js-datepicker-order" placeholder="" + param.placeholder value="" data-icon="/f/img/icon-date.svg")
	else if param.type == 'checkbox'
		- var attr = {};
		if param.checked
			- attr.checked = 'checked';
		.form-field(class="form-field--" + param.mode)
			label.form-field__label
				input(type="checkbox")&attributes(attr)
				.form-field__caption!= param.label
	else if param.type == 'radio'
		.form-field(class="form-field--" + param.mode)
			each item,index in param.options
				- var attr = {}, i = 0;
				- i = index + 1;
				if index==0
					- attr['checked'] = 'checked';
				label.form-field__label
					input.form-field__radio(type="radio" class="" + (param.class?param.class:'') name="" + param.name value="" + i)&attributes(attr)
					span!= item
	else if param.type == 'suggest'
		.form-field(class="form-field--" + param.mode).js-suggest
			.form-field__wrapper
				input.js-suggest-val(type="hidden" value="")
				input.form-field__input.js-suggest-caption(type="text" placeholder="" + param.placeholder value="")
				.form-field__button.form-field__button--clear.js-suggest-clear
				.form-field__button.form-field__button--search.js-suggest-search
			.form-field__suggest.js-suggest-options
				.form-field__suggest-item.form-field__suggest-item--empty.js-suggest-item-empty Город не найден
				each item in param.suggest
					.form-field__suggest-item.js-suggest-item(data-val="" + item.value)!= item.option
	else if param.type == 'select'
		.form-field.js-select-field(class="form-field--" + param.mode)
			input.js-select-value(type="hidden" value="" + ((param.default)?(param.default.value):0))
			.form-field__caption.js-select-caption!= (param.default)?(param.default.option):''
			.form-field__options.js-select-options
				each item in param.options
					.form-field__item.js-select-option(data-val="" + item.value)!= item.option
	else if param.type == 'date'
		.form-field(class="form-field--" + param.mode).js-suggest
			.form-field__row
				.form-field__column
					+formField({type:'select', mode:'select', options:[
						{value:1, option:'01'},
						{value:2, option:'02'},
						{value:3, option:'03'},
						{value:4, option:'04'},
						{value:5, option:'05'},
						{value:6, option:'06'},
						{value:7, option:'07'},
						{value:8, option:'08'},
						{value:9, option:'09'},
						{value:10, option:'10'},
						{value:11, option:'11'},
						{value:12, option:'12'},
						{value:13, option:'13'},
						{value:14, option:'14'},
						{value:15, option:'15'},
						{value:16, option:'16'},
						{value:17, option:'17'},
						{value:18, option:'18'},
						{value:19, option:'19'},
						{value:20, option:'20'},
						{value:21, option:'21'},
						{value:22, option:'22'},
						{value:23, option:'23'},
						{value:24, option:'24'},
						{value:25, option:'25'},
						{value:26, option:'26'},
						{value:27, option:'27'},
						{value:28, option:'28'},
						{value:29, option:'29'},
						{value:30, option:'30'},
						{value:31, option:'31'},
					], default:{value:0, option:'День'}})
				.form-field__column
					+formField({type:'select', mode:'select', options:[
						{value:1, option:'Январь'},
						{value:2, option:'Февраль'},
						{value:3, option:'Март'},
						{value:4, option:'Апрель'},
						{value:5, option:'Май'},
						{value:6, option:'Июнь'},
						{value:7, option:'Июль'},
						{value:8, option:'Август'},
						{value:9, option:'Сентябрь'},
						{value:10, option:'Октябрь'},
						{value:11, option:'Ноябрь'},
						{value:12, option:'Декабрь'},
					], default:{value:0, option:'Месяц'}})
				.form-field__column
					+formField({type:'select', mode:'select', options:[
						{value:2015, option:'2015'},
						{value:2014, option:'2014'},
						{value:2013, option:'2013'},
						{value:2012, option:'2012'},
						{value:2011, option:'2011'},
						{value:2010, option:'2010'},
						{value:2009, option:'2009'},
						{value:2008, option:'2008'},
						{value:2007, option:'2007'},
						{value:2006, option:'2006'},
						{value:2005, option:'2005'},
						{value:2004, option:'2004'},
						{value:2003, option:'2003'},
						{value:2002, option:'2002'},
						{value:2001, option:'2001'},
						{value:2000, option:'2000'},
						{value:1999, option:'1999'},
						{value:1998, option:'1998'},
						{value:1997, option:'1997'},
						{value:1996, option:'1996'},
						{value:1995, option:'1995'},
						{value:1994, option:'1994'},
						{value:1993, option:'1993'},
						{value:1992, option:'1992'},
						{value:1991, option:'1991'},
						{value:1990, option:'1990'},
						{value:1989, option:'1989'},
						{value:1988, option:'1988'},
						{value:1987, option:'1987'},
						{value:1986, option:'1986'},
						{value:1985, option:'1985'},
						{value:1984, option:'1984'},
						{value:1983, option:'1983'},
						{value:1982, option:'1982'},
						{value:1981, option:'1981'},
						{value:1980, option:'1980'},
						{value:1979, option:'1979'},
						{value:1978, option:'1978'},
						{value:1977, option:'1977'},
						{value:1976, option:'1976'},
						{value:1975, option:'1975'},
						{value:1974, option:'1974'},
						{value:1973, option:'1973'},
						{value:1972, option:'1972'},
						{value:1971, option:'1971'},
						{value:1970, option:'1970'},
						{value:1969, option:'1969'},
						{value:1968, option:'1968'},
						{value:1967, option:'1967'},
						{value:1966, option:'1966'},
						{value:1965, option:'1965'},
						{value:1964, option:'1964'},
						{value:1963, option:'1963'},
						{value:1962, option:'1962'},
						{value:1961, option:'1961'},
						{value:1960, option:'1960'},
						{value:1959, option:'1959'},
						{value:1958, option:'1958'},
						{value:1957, option:'1957'},
						{value:1956, option:'1956'},
						{value:1955, option:'1955'},
						{value:1954, option:'1954'},
						{value:1953, option:'1953'},
						{value:1952, option:'1952'},
						{value:1951, option:'1951'},
						{value:1950, option:'1950'},
						{value:1949, option:'1949'},
						{value:1948, option:'1948'},
						{value:1947, option:'1947'},
						{value:1946, option:'1946'},
						{value:1945, option:'1945'},
						{value:1944, option:'1944'},
						{value:1943, option:'1943'},
						{value:1942, option:'1942'},
						{value:1941, option:'1941'},
						{value:1940, option:'1940'},
						{value:1939, option:'1939'},
						{value:1938, option:'1938'},
						{value:1937, option:'1937'},
						{value:1936, option:'1936'},
						{value:1935, option:'1935'},
						{value:1934, option:'1934'},
						{value:1933, option:'1933'},
						{value:1932, option:'1932'},
						{value:1931, option:'1931'},
						{value:1930, option:'1930'},
						{value:1929, option:'1929'},
						{value:1928, option:'1928'},
						{value:1927, option:'1927'},
						{value:1926, option:'1926'},
						{value:1925, option:'1925'},
						{value:1924, option:'1924'},
						{value:1923, option:'1923'},
						{value:1922, option:'1922'},
						{value:1921, option:'1921'},
						{value:1920, option:'1920'},
					], default:{value:0, option:'Год'}})
	else if param.type == 'textarea'
		.form-field(class="form-field--" + param.mode)
			.form-field__wrapper
				textarea.form-field__textarea(placeholder="" + param.placeholder)
	else
		| unknown type - #{param.type}


